header img {
  padding: 10px;
  background: #fff;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

/* footer nav */
footer {
  text-align: center;
  margin: auto;
}

footer nav {
  float: none;
}

.search {
  text-align: center;  
  margin: auto;
}
