header img {
  padding: 10px;
  background: #fff;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

/* footer nav */
footer {
  text-align: center;
  margin: auto;
}

footer nav {
  float: none;
}

.search {
  text-align: center;  
  margin: auto;
}

/* Error Explanations */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: orange;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid orange;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: orange;
  color: #fff;
}

#error_explanation p {
  color: #333; 
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
