<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to t('delete'), user, :method => :delete, :confirm => t('sure'),
                                :title  => "t 'delete' #{user.name}" %>
  <% end %>
</li>
