<div class="span-24">

  <div class="span-5 colborder">
    <%= render 'listings' %>
  </div>

  <div class="span-10 colborder">
    <%= render 'info' %>
  </div>

  <div class="span-7 last">
    <%= render 'shared/sidebar' %>
  </div>
</div>

