<div>
    <h5 align="center"><%= t 'microposts.postnew' %></h5>
    <%= render 'shared/micropost_form' %>
    <h5 align="center"><%= pluralize(@feed_items.count, t('microposts.post')) %>
    </h5>
    <%= render 'shared/feed' %>
</div>
