<h1>About Us</h1>
<p>
We are embarking on developing web sites that allow easy creation of databases and updating information to them. More information about the <a href="http://gloo.heroku.comi">GLOO project</a> can be found at our 
<a href="https://sites.google.com/site/dbproject47/home">project page</a>. 
</p>
