<h1><%= t 'pages.contact' %></h1>
<p>
<%= t 'pages.contactus' %>
<a href="http://www.ee.columbia.edu/~kumar">Raj Kumar</a>.
</p>

<%= t 'pages.aboutus' %>
<a href="https://sites.google.com/site/dbproject47/home">database47</a>. 

