<h1>About GLOO</h1>
<p>
GLOO is an experimental site for polo that tests concepts about sites that allow easy upload of data and databases.  More information about the <a href="http://gloo.heroku.comi">GLOO project</a> can be found at our 
<a href="https://sites.google.com/site/dbproject47/home">project page</a>. 
</p>
