<h1>GLOO Search Page</h1>
<p>
This is the Home Page for the <a href="http://gloo.heroku.comi">GLOO project</a>
More information about the project is available at our 
<a href="https://sites.google.com/site/dbproject47/home">project page</a>. 
</p>

