<div class="search">
  <h1>GLOO</h1>
    <form" action="" method = "get" autocomplete="on">
      <input type="search" class="title" name="search_text">
      <input type="submit" value="Search">
    </form>
    <br /><br />
</div>
