<footer>
  <div class="container">
    <hr />
    <nav class="round">
      <ul>
        <li><%= link_to "about", '#', :class => "quiet" %></li>
        <li><%= link_to "contact", '#', :class => "quiet" %></li>
        <li><%= link_to "news", '#', :class => "quiet" %></li>
      </ul>
    </nav>
  </div>
</footer>
